.Cart__Main {
    margin: 20px;
}

.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 15px 0px;
    border: none;
    width: 100%;
    border-radius: 15px;
    text-align: left;
    font-size: 15px;
    position: relative;

    &[aria-expanded="true"] {
        border-radius: 15px 15px 0px 0px;

        svg {
            transform: rotate(180deg);
        }
    }

    svg {
        position: absolute;
        top: 45%;
        right: 5%;


    }

}



.panel {
    padding: 15px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
}


.slide-down-enter-active {
    transition: all .2s ease-out;
}


.slide-down-leave-active {
    transition: all .1s ease-in;
}

.slide-down-enter,
.slide-down-leave-to {
    transform: translateY(-15px);
}