.Cart__Main {
    margin: 20px;
}

.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 15px;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;

}

.panel {
    padding: 15px;
    background-color: white;
    overflow: hidden;


}