   .card {
       display: flex;

       .card-body {
           width: 100%;
       }

       h2 {
           margin-top: 0;
           margin-left: 5px;
       }

       .prod-price {
           margin: 0 5px 0 5px;
           font-weight: bold;
           font-size: 1.4rem;
           float: right;
       }

       .prod-quantity {
           margin: 0 5px 0 5px;
           font-size: 1.4rem;
       }

       .prod-color {
           width: 20px;
           border-radius: 100%;
           border: 1px solid black;
       }

       .card-img {
           border: 1px solid #ddd;
           border-radius: 20%;
           margin-right: 5px;
       }

   }