   .card {
       display: flex;
       margin-bottom: 15px;

       .card-body {
           width: 100%;
           position: relative;
       }

       h2 {
           margin: 0 0 0px 5px;
           font-size: 1.6rem;
       }

       .prod-price {
           margin: 0 5px 0 5px;
           font-weight: bold;
           font-size: 1.4rem;
           float: right;
           transform: translate(10px, 5px);
       }

       .prod-quantity {
           margin: 0 5px 0 5px;
           font-size: 1.4rem;
       }

       .prod-color {
           width: 20px;
           border-radius: 100%;
           border: 1px solid black;
       }

       .card-img {
           border: 1px solid #ddd;
           border-radius: 15%;
           margin-right: 5px;
       }

       .prod-info {}

   }