form {
    background-color: white;
    padding: 10px;

    p {
        text-align: start;
        color: rgb(172, 170, 170);
        margin-top: 3px;
        font-size: 1.1rem;
        width: 100%;
    }

    input {
        width: 100%;
        padding: 25px 0px 8px 0px;
        border: none;
        border-bottom: 1px solid black;
    }

    select {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        padding: 25px 0px 8px 0px;
        color: rgb(118, 118, 118);
    }

    .checkbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        font-size: 1.2rem;

        input {
            margin-bottom: 15px;
            width: auto;

        }

        label {
            margin-bottom: 15px;
            padding: 3px 0 0 0;
        }
    }
}

.showShipmentBtn {
    margin: 20px 0 20px 0;
    width: 100%;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

@media (min-width: 960px) {
    .form-container {
        background-color: white;
    }

    form {
        width: 60%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input {
            width: 48%;
        }

        select {
            width: 48%;
        }

        #more-info-input {
            width: 100%;
        }

        .checkbox {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            font-size: 1.2rem;

            input {
                margin: 0px 5px 0 0;
                flex-basis: 3%;
            }

            label {
                padding: 0px;
                flex-basis: 95%;
            }


        }

    }

    .showShipmentBtn {
        width: 50%;
        margin: 20px auto;
    }

}